<div class="container">
  <div class="login form">
    <header>Login</header>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" (keydown.enter)="onLogin()">

      <input type="email" placeholder="Enter your email" formControlName="email">
      <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Name is required.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email</small>
      </div>
      <input type="password" formControlName="password" placeholder="Enter your password">
      <div class="error"
           *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must have at least
          8 characters.</small>
      </div>
      <a href="#">Forgot Password?</a>
      <input type="button" (click)="onLogin()" class="button" value="Login"
             [disabled]="loginForm.invalid">
    </form>
  </div>
</div>
