<h3 class="mt-2 text-center">Enrolled Courses</h3>

<div class="add-container" *ngIf="userRole === Role.STUDENT">
  <button class="add-btn" (click)="enroll()">
    <mat-icon>add</mat-icon>
    Enroll
  </button>
</div>



<div class="enroll-container">
  <table class="mt-5 custom-table">
    <tr>
      <th>S.N.</th>
      <th *ngIf="userRole === Role.SUPER_ADMIN">Student</th>
      <th>Semester</th>
      <th>Completion Status</th>
      <th>Pay Status</th>
      <th>Outstanding Fee (Rs.)</th>
      <th>Enrolled Date</th>
      <th>Completion Date</th>
      <th *ngIf="userRole === Role.STUDENT">Actions</th>
      <th *ngIf="userRole === Role.SUPER_ADMIN">Actions</th>
    </tr>

    <ng-container *ngFor="let enrollment of enrollments; let i = index">
      <tr class="enrollment-row">

        <td>{{ i + 1 }}</td>

        <td *ngIf="userRole === Role.SUPER_ADMIN">
          {{joinName.getFullName(
            enrollment.student.user.firstName,
            enrollment.student.user.middleName,
            enrollment.student.user.lastName
          )}}
        </td>

        <td>{{ enrollment.semester.label }}</td>

        <td class="status-cell">
          <span [ngClass]="getStatusClass(enrollment.completionStatus)">
            {{getCompletionStatus(enrollment.completionStatus)}}
          </span>
        </td>

        <td class="paid-cell">
          <div class="paid-status-container">
            <span [ngClass]="getStatusClass(enrollment.paidStatus)">
              {{ getPayStatus(enrollment.paidStatus) }}
            </span>
          </div>
        </td>

        <td>{{ enrollment.outstandingFee }}</td>

        <td>{{ enrollment.enrolledDate }}</td>

        <td>{{ enrollment.completionDate || '-'}}</td>

        <td class="actions-cell">
          <button mat-mini-fab aria-label="Mark Complete"
                  matTooltip="Complete Enrollment"
                  class="btn-complete"
                  *ngIf="userRole === Role.SUPER_ADMIN"
                  (click)="completeEnroll(enrollment)"
                  [disabled]="isDisabled(enrollment)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-mini-fab aria-label="Drop Enrollment"
                  class="btn-delete"
                  *ngIf="userRole === Role.STUDENT"
                  matTooltip="Drop Enrollment"
                  (click)="dropEnroll(enrollment)"
                  [disabled]="isDisabled(enrollment)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab aria-label="Show Course"
                  matTooltip = "Show Courses"
                  class="btn-show-course"
                  (click)="toggleRow(i)">
            <mat-icon>preview</mat-icon>
          </button>
          <button mat-mini-fab aria-label="Pay Fee"
                  *ngIf="userRole === Role.STUDENT"
                  class="pay-btn"
                  (click)="payFee(enrollment);"
                  matTooltip="Pay now"
                  [disabled]="isNotPayable(enrollment)">
            <mat-icon>payment</mat-icon>
          </button>
          <button mat-mini-fab aria-label="Get Fee History"
                  matTooltip = "Show Fee History"
                  class="btn-show-history"
                  (click)="getFeeHistory(enrollment)">
            <mat-icon>receipt</mat-icon>
          </button>
        </td>
      </tr>

      <tr *ngIf="expandedRowIndex === i">
        <td colspan="10">
          <div class="expanded-content">
            <strong>Enrolled Courses:</strong>
            <div class="course-list">
              <div class="course-item" *ngFor="let course of enrollment.courses">
                <mat-icon class="course-icon">school</mat-icon>
                <span>{{ course.name }}</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</div>

<div *ngIf="enrollments?.length === 0" class="no-data-message text-center mt-4">
  <p>No data found.</p>
</div>
