.add-container {
  width: 100%;
  margin-top: 2rem;
  text-align: right;
}

.add-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #009579;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #00C8A2;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px 10px;
}

.custom-table th,
.custom-table td {
  padding: 20px 15px;
  text-align: center;
  font-size: 0.95rem;
}

.custom-table tr {
  border-bottom: 1px solid #ccc;
}
.custom-table td {
  padding: 20px 15px;
  text-align: center;
  vertical-align: middle;
}

.status-cell span, .paid-cell span {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: capitalize;
}



.status-green {
  background-color: #e6f4ea;
  color: #0a8754;
}

.status-red {
  background-color: #fdecea;
  color: #d7263d;
}

.status-blue {
  background-color: #e8f1ff;
  color: #1e3d59;
}

.status-yellow {
  background-color: #fff9db;
  color: #7a5c00;
}

.status-reject-red {
    background-color: #fbeaea;
    color: #b00020;
}


.enrollment-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enrollment-row:hover {
  background-color: #f1f1f1;
}

.expanded-row {
  animation: expandFade 0.3s ease-in-out;
}

.expanded-content {
  padding: 10px 0;
  font-size: 15px;
  text-align: left;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 6px;
}

.course-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.course-icon {
  font-size: 18px;
  color: #009579;
}

.btn-delete {
  background-color: #ff0000 ;
  color: white;
}

.paid-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pay-btn {
  margin-left: 8px;
  color: #009579;
}

.actions-cell {
  display: flex;
  gap: 8px;
  justify-content: center;
}


