<header>Password Requirements</header>

<table class="password-table">
  <tr>
    <th>S.N.</th>
    <th>Parameter</th>
    <th>Status</th>
    <th>Active</th>
  </tr>
  <tr *ngFor="let policy of policies; let i = index;">
    <td>{{ i + 1 }}</td>
    <td>{{policy.parameters}}</td>
    <td>{{policy.active ? 'ACTIVE' : 'INACTIVE'}}</td>
    <td>
      <span class="active">
        <mat-checkbox class="checkbox" [checked]="policy.active" (change) = "setStatus(policy.code);"></mat-checkbox>
      </span>
    </td>
  </tr>
</table>

<div class="button-container">
  <button class="save-button" (click)="savePolicy()" [disabled]="!isChanged">
    <mat-icon>save</mat-icon>
    SAVE
  </button>
</div>

