.close-icon {
  margin-top: -2vh;
  text-align: right;
}

.close-btn {
  background: none;
  border: none;
}

h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
select {
  padding: 1rem;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size:17px;
}

.role {
  height: 60px;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
}

.btn-div {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

