<div class="header-div">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h4 class="header-title">Add Semester</h4>
</div>

<form [formGroup]="addForm" (ngSubmit)="add()">

  <div class="mb-3">
    <label for="label" class="form-label fw-semibold">Semester</label>
    <input
      type="text"
      id="label"
      class="form-control"
      formControlName="label">
    <div class="error" *ngIf="this.addForm.get('label')?.invalid && this.addForm.get('label')?.touched">
      <small *ngIf="this.addForm.get('label')?.errors?.['required']">Enter a valid label</small>
      <small *ngIf="this.addForm.get('label')?.errors?.['pattern']">Alphabets only.</small>
      <small *ngIf="this.addForm.get('label')?.errors?.['minlength']">Enter a valid label.</small>
    </div>
  </div>

  <div class="mb-3">
    <label for="fee" class="form-label fw-semibold">Fee</label>
    <input
      type="text"
      id="fee"
      class="form-control"
      formControlName="fee">
    <div class="error" *ngIf="this.addForm.get('fee')?.invalid && this.addForm.get('fee')?.touched">
      <small *ngIf="this.addForm.get('fee')?.errors?.['required']">Enter a valid amount.</small>
      <small *ngIf="this.addForm.get('fee')?.errors?.['pattern']">Enter a valid amount.</small>
    </div>
  </div>

  <div class="mb-3">
    <label for="startDate" class="form-label fw-semibold">Start Date</label>
    <input
      type="date"
      id="startDate"
      class="form-control"
      formControlName="startDate">
    <div class="error" *ngIf="this.addForm.get('startDate')?.invalid && this.addForm.get('startDate')?.touched">
      <small *ngIf="this.addForm.get('startDate')?.errors?.['required']">Enter a valid date.</small>
      <small *ngIf="this.addForm.get('startDate')?.errors?.['futureDate']">Enter a valid date.</small>
    </div>
  </div>

  <div class="mb-3">
    <label for="endDate" class="form-label fw-semibold">End Date</label>
    <input
      type="date"
      id="endDate"
      class="form-control"
      formControlName="endDate">
    <div class="error" *ngIf="this.addForm.get('endDate')?.invalid && this.addForm.get('endDate')?.touched">
      <small *ngIf="this.addForm.get('endDate')?.errors?.['required']">Enter a valid date.</small>
      <small *ngIf="this.addForm.get('endDate')?.errors?.['futureDate']">Enter a valid date.</small>
    </div>
  </div>

  <div class="mt-4">
    <button type="submit" class="add-btn">
      <mat-icon>save</mat-icon>
      Add
    </button>
  </div>
</form>
