.header-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /*margin-top: 20px;*/
  margin-bottom: 5rem;
}

.header-title {
  text-align: center;
  flex: 1;
  margin: 0;
}

.header-div button {
  left: 0;
}

.course-form-array-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
}

.control-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-control {
  height: 60px;
  font-size: 1rem;
}

.form-controls {
  padding: 10px 10px;
  height: 60px;
  font-size: 1rem;
}

.add-course-container,
.add-instructor-container {
  display: flex;
  flex-direction: column;
}

.course-select,
.instructor-select {
  height: 50px;
  margin-top: -25px;
  background-color: white;
}

.course-select {
  margin-top: -25px;
  height: 50px;

  width: 50vh;
}

.save-btn,
.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  width: 15vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color -0.2s ease;
}

.save-btn {
  background-color: #006653;
  color: white;
}

.save-btn:hover {
  background-color: #009579;
}

.reset-button {
  background-color: #e68900;
  color: white;
}

.reset-button:hover {
  background-color: #ff9800;
}


.add-btn:hover {
  background-color: #009579;
}

.select-remove-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height:  60px;
}

.save-sem-btn {
  display: flex;
  justify-content: right;
  gap: 5px;
}

.remove-course-btn {
  background-color: red;
  color: white;
  margin-top: -25px;
}


.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.new-course-link {
  color: #0d6efd;
  text-decoration: none;
}

.new-course-link:hover {
  color: #0a58ca;
  text-decoration: underline;
  cursor: pointer;
}
