
<div class="header-div">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h4 class="mt-3 header-title"><b>Semester:</b> {{label}}</h4>
</div>
<h4 class="mb-5 header-title"><b>Course:</b> {{course?.name}}</h4>

<div class="student-div">
  <table class="student-table">
    <thead>
    <tr>
      <th>S.N.</th>
      <th>Name</th>
      <th>Grade</th>
      <th>Remarks</th>
      <th>Confirm</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        {{ joinName.getFullName(
        student?.user?.firstName,
        student?.user?.middleName,
        student?.user?.lastName
      ) }}
      </td>
      <td >
        <mat-form-field appearance="outline" class="grade-input">
          <input matInput
                 type="number"
                 [placeholder]="''"
                 [(ngModel)]="gradeInput[i]"

                 min="0"
                 [max]="course.fullMarks" />
          <span matSuffix class="suffix-grade">/ {{ this.course.fullMarks }}</span>

        </mat-form-field>
      </td>
      <td>
        {{ grades[i]?.remark }}
      </td>
      <td>
        <button mat-mini-fab
                aria-label="Confirm Grade"
                color="primary"
                class="btn-confirm"
                (click)="openSaveDialog(student, i)">
          <mat-icon>check</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

