<h3 class="mt-1 text-center">Pending Course</h3>

<div class="course-container">
  <table class="mt-5 custom-table">
    <thead>
    <tr>
      <th>S.N.</th>
      <th>Course Name</th>
      <th>Credit Hour</th>
      <th>Full Mark</th>
      <th>Semester</th>
      <th>Added By</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.creditHours }}</td>
      <td>{{ course.fullMarks }}</td>
      <td>{{ course.semester?.label || '-'}} </td>
      <td>{{ joinName.getFullName(course?.addedBy?.firstName, course?.addedBy?.middleName, course?.addedBy?.lastName)}}</td>
      <td class="status">
        <button mat-icon-button
                class="accept-icon"
                (click)="acceptCourse(course)"
                [disabled]="isCourseAddedByLoggedInUser(joinName.getFullName(
                course.addedBy?.firstName,
                course.addedBy?.middleName,
                course.addedBy?.lastName
                ))">
          <mat-icon>check_circle</mat-icon>
        </button>

        <button mat-icon-button class="reject-icon" (click)="rejectCourse(course)" [disabled]="isCourseAddedByLoggedInUser(joinName.getFullName(
                course.addedBy?.firstName,
                course.addedBy?.middleName,
                course.addedBy?.lastName
                ))">
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="courses?.length === 0" class="no-data-message text-center mt-4">
  <p>No data found.</p>
</div>
