<div class="container">
  <div class="change-password form">
    <header>Change Password</header>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <div class="password-container">
          <input [type]="hide? 'password' : 'text'" formControlName="newPassword">
          <i class="bi toggle-icon" [ngClass]="hide? 'bi-eye-slash' : 'bi-eye'"
             (click)="hide = !hide"></i>
        </div>
        <div class = "error" *ngIf="this.changePasswordForm.get('newPassword')?.touched && this.changePasswordForm.get('newPassword')?.invalid">
          <ul class="error-list">
            <li *ngFor="let error of getPasswordErrors()">
              {{ error }}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input [type]="hide? 'password' : 'text'" formControlName="confirmPassword">
        <div class="error"
             *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.invalid">
          <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">Passwords
            must match.</small>
        </div>
      </div>

      <div class="error"
           *ngIf="changePasswordForm.errors?.['passwordMismatch'] && changePasswordForm.touched">
        <small>New Password and confirm Password do not match.</small>
      </div>

      <button [ngClass]="getActiveStatus()" type="submit">Change</button>

    </form>
  </div>
</div>
