.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.container .change-password {
  padding: 2rem;
}

.form header {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.5rem;
  /*font-size: 1rem;*/
  /*font-weight: bold;*/
}

input {
  padding: 1rem;
  height: 50px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #555;
}

button {
  height: 50px;
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  font-size: 17px;
  letter-spacing: 1px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #218838;
}

.error {
  color: red;
  font-size: 1.3rem;
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
}
