<div class="dashboard-wrapper">
  <nav class="sidebar">
    <h4>Dashboard</h4>
    <ul class="nav flex-column nav-gap">
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="view-user">
          <i class="bi bi-person-circle sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">User</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="view-user">
          <i class="bi bi-journal-bookmark-fill sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">Courses</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="view-user">
          <i class="bi bi-lock sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">Password Policy</span>
        </a>
      </li>

    </ul>
  </nav>

  <main class="main-content">
    <!--    <app-user></app-user>-->
    <router-outlet></router-outlet>
  </main>
</div>
