<div class="dashboard-wrapper">
  <nav class="sidebar">
    <a *ngIf="isSuperAdmin()" [routerLink]="'/super'" class="dashboard">
      <h4 class="clickable">Dashboard</h4>
    </a>

    <h4 *ngIf="!isSuperAdmin()">Dashboard</h4>

    <ul class="nav flex-column nav-gap">
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="user/view"
           routerLinkActive="active-tab" >
          <i class="bi bi-person-circle sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">User</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="semester/view"
           routerLinkActive="active-tab" >
          <i class="bi bi-mortarboard sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">Semester</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="course/view"
           routerLinkActive="active-tab" >
          <i class="bi bi-journal-bookmark-fill sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">Courses</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="course/pending"
           routerLinkActive="active-tab" >
          <i class="bi bi-hourglass-split sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">Pending Courses</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="enroll/view"
           routerLinkActive="active-tab" >
          <i class="bi bi-backpack-fill sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">Enrollment</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="enroll/pending"
           routerLinkActive="active-tab" >
          <i class="bi bi-hourglass-split sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">Pending Enrollment</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center px-3" routerLink="password-policy"
           routerLinkActive="active-tab">
          <i class="bi bi-lock sidebar-icon" style="margin-left: -4px"></i>
          <span class="flex-grow-1">Password Policy</span>
        </a>
      </li>
    </ul>

    <div class="profile-section d-flex align-items-center gap-2 px-3 py-2 border-top border-secondary">
      <i class="bi bi-person-circle sidebar-icon" style="font-size: 1.8rem;"></i>
      <div class="ms-2">
        <div class="fw-semibold">
          {{ joinName.getFullName(currentUser?.firstName, currentUser?.middleName, currentUser?.lastName) }}
        </div>
        <div class="text-muted" style="font-size: 0.85rem;">
          {{ getRole(currentUser?.role)}}
        </div>
      </div>
    </div>


    <button class="btn btn-outline-danger mt-auto logout-btn" (click)="logout()">
      <i class="bi bi-box-arrow-right sidebar-icon" style="margin-left: -4px"></i> Logout
    </button>
  </nav>

  <main class="main-content">
    <app-spinner></app-spinner>

    <router-outlet></router-outlet>
  </main>
</div>
