body, html {
  height:100%;
  margin: 0;
  padding: 0;
}

.dashboard-wrapper {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 95vh;
  margin: 2rem auto;
  max-width: 95%;
  display: flex;
  overflow: hidden;

}

.sidebar {
  color: #343a40;
  text-decoration: none;
  display: block;
  padding: 1rem 1rem;
  background-color: #f8f9fa;
  font-weight: 500;
  border-right: 1px solid #dee2e6;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  width: 300px;
}

.sidebar a:hover{
  background-color: #e2e6ea;
  border-radius: 5px;
  color: #000;
}

.sidebar-icon {
  width: 24px;
  text-align: center;
}


h4 {
  margin-top: 25px;
}

.nav {
  margin-top: 40px;
}

.nav-item {
  width: 100%;
  margin-bottom: 10rem;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.nav-gap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

li {
  list-style: none;
}
