.pay-button:disabled {
  background-color: #d3d3d3 !important;
  color: #666 !important;
  cursor: not-allowed;
}

/*.right-align {*/
/*  text-align: right;*/
/*}*/

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}
